.admin-home-square {
    background-color: ghostwhite;

    width: 400px;

    border-style: solid;
    border-radius: 20px;
    border-color: mediumvioletred;

    display: flex;
}

.admin-home-selection {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}